body{
    background-image: url(/images/gymBG.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
div{
    background-color: aqua;
    opacity: 50%;
    text-align: center;
    padding:50px 50px 50px 0px;
   width: 900px;
   border-radius: 25px;
    margin: 200px auto;
}
h1{
    font-family: 'Berkshire Swash', cursive;
}
b{
font-size: 50px;
}
button{
padding:0 20px 0 20px;
    font-size: 1em;
}
ion-icon{
    color: black;
    font-size: 3em;
}





